@dark: #2e1b1d;
@medium: mix(@dark,@background,80%);
@light: mix(@dark,@background,60%);
@ultralight: mix(@dark,@background,40%);
@invisible: mix(@dark,@background,20%);
@wrapguide: mix(@dark,@background,10%);
@background: #f8f7f5;
@reddark: mix(@red,@dark,80%);
@red: #EB2049;
@redmedium: mix(@red,@background,80%);
@redlight: mix(@red,@background,60%);
@redultralight: mix(@red,@background,40%);
@bluedark: mix(@blue,@dark,90%);
@blue: #51E0E6;
@bluemedium: mix(@blue,@background,80%);
@bluelight: mix(@blue,@background,60%);
@blueultralight: mix(@blue,@background,40%);
@transparent: rgba(255,255,255,0);
@translucent: rgba(126,115,115,0.4);

.softred {
	color: @red !important;
	text-shadow: -1px 0 0 @blue;
}

.softblue {
	color: @light;
}

.plain {
	color: @dark;
	font-weight: normal;
}

.plainlight {
	color: @light;
	font-weight: normal !important;
	text-shadow: none;
}

.heavydarktext {
	background-color: @background;
	color: @medium !important;
	font-weight: normal;
	text-shadow: -1px 0 0 @red, -2px 0 0 @redultralight, 1px 0 0 @blue, 2px 0 0 @blueultralight !important;
}

.darktext {
	background-color: @background;
	color: @medium;
	font-weight: normal;
	text-shadow: -1px 0 0 @red, 1px 0 0 @blue;
}

.mediumtext {
	color: @medium;
	font-weight: normal;
	text-shadow: -1px 0 0 @redmedium, 1px 0 0 @bluemedium;
}

.mediumblur {
	color: mix(@light,@medium,90%) !important;
	text-shadow: -1px 0 0 @red, -2px 0 0 @redultralight, 1px 0 0 @blue, 2px 0 0 @blueultralight !important;
	font-weight: normal !important;
}

.lighttext {
	color: @light;
	font-weight: normal;
	text-shadow: -1px 0 0 @redlight, 1px 0 0 @bluelight;
}

.accentlight {
	color: @transparent;
	text-shadow: -1px 0 0 @redlight, 1px 0 0 @bluelight;
}

.accentnormal {
	color: @transparent;
	text-shadow: -1px 0 0 @red, 1px 0 0 @blue;
}

.accentstrong {
	color: mix(@red,@reddark,60%);
	text-shadow: -1px 0 0 @redlight, 1px 0 0 @blue, 2px 0 0 @bluelight;
}

.commentinvis {
	color: @invisible !important;
	text-shadow: none !important;
	font-weight: normal;
}
