@dark: #2e1b1d;
@medium: mix(@dark,@background,80%);
@light: mix(@dark,@background,60%);
@ultralight: mix(@dark,@background,40%);
@invisible: mix(@dark,@background,20%);
@background: #f8f7f5;
@reddark: mix(@red,@dark,80%);
@red: #EB2049;
@redmedium: mix(@red,@background,80%);
@redlight: mix(@red,@background,60%);
@redultralight: mix(@red,@background,40%);
@bluedark: mix(@blue,@dark,90%);
@blue: #51E0E6;
@bluemedium: mix(@blue,@background,80%);
@bluelight: mix(@blue,@background,60%);
@blueultralight: mix(@blue,@background,40%);
@transparent: rgba(255,255,255,0);
@translucent: rgba(126,115,115,0.4);
