@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// General colors
@syntax-text-color: @dark;
@syntax-cursor-color: @dark;
@syntax-selection-color: @light;
@syntax-background-color: @background;

// Guide colors
@syntax-wrap-guide-color: @ultralight;
@syntax-indent-guide-color: @ultralight;
@syntax-invisible-character-color: @ultralight;

// For find and replace markers
@syntax-result-marker-color: @light;
@syntax-result-marker-color-selected: @dark;

// Gutter colors
@syntax-gutter-text-color: @dark;
@syntax-gutter-text-color-selected: @syntax-gutter-text-color;
@syntax-gutter-background-color: @syntax-background-color;
@syntax-gutter-background-color-selected: @syntax-background-color;

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @dark;
@syntax-color-modified: @dark;
@syntax-color-removed: @red;
